<div class="cookie-policy-popup">
    <div class="cookie-policy-content">
        <div class="d-flex align-items-center justify-content-between">
            <p>
                Sitemizden en iyi şekilde faydalanabilmeniz için çerezler kullanılmaktadır. Bu siteye giriş yaparak çerez kullanımını kabul etmiş sayılıyorsunuz.
                <br><a href="/gizlilik-sozlesmesi">Daha fazla...</a>
            </p>

        </div>
        <a href="javascript:void(0)" class="cookie-policy-close">
            <span></span>
            <span></span>
        </a>
    </div>
</div>