@model CatalogPagingFilteringModel

<div class="hide-out-of-stock">
    <a href="@Model.HideOutofStockUrl" class="@(Model.h ? "active" : "inactive")" rel="nofollow">@T("Catalog.HideOutOfStock")</a>
</div>

