@model ProductDetailsModel
@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{

    @if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
    {
        <div class="stock">
            <span class="label">@T("Products.Availability")</span>
            <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
        </div>
    }
}