@model ChangePasswordModel
@{
    //title
    Html.AddTitleParts(T("PageTitle.ChangePassword").Text);
    Html.AddCssFileParts(ResourceLocation.Head, "~/Themes/Sidney/Content/css/pages/account.min.css");

}
<section class="page account-page change-password-page">
    <div class="page-container">
        <div class="page-left-sidebar">
            @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
        </div>
        <div class="page-body">
            <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>

                <div class="page-title">
                    @T("PageTitle.ChangePassword")
                </div>

                <div class="inputs">
                    <label asp-for="OldPassword"></label>
                    <div class="input-validate">
                        <input asp-for="OldPassword" />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                </div>

                <div class="inputs">
                    <label asp-for="NewPassword"></label>
                    <div class="input-validate">
                        <input asp-for="NewPassword" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                </div>

                <div class="inputs">
                    <label asp-for="ConfirmNewPassword"></label>
                    <div class="input-validate">
                        <input asp-for="ConfirmNewPassword" />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit" class="button">
                        @T("Account.ChangePassword.Button")
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>