@import "../helpers/all";
@import "../variables/variables-dev";


.dropdown-wrapper {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        border: 0;
        padding: 0;


        &-header {
            padding: 0 15px;
            font-size: 14px;
            color: $gray-darker;
            font-weight: 600;
            line-height: 49px;
            border-bottom: 1px solid $color-border;
            position: relative;
            height: 50px;

            .nav-active {
                position: absolute;

                &:before {
                    content: "\f104";
                    font-family: "Faprika";
                    margin-right: 15px;
                }
            }

            .dropdown-close {
                display: block;
                line-height: 49px;

                &:before {
                    content: "\f00d";
                    font-family: "Faprika";
                    font-size: 17px;
                    color: $color-primary;
                    font-weight: 300;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                    width: 22px;
                    height: 22px;
                    @include border($color-border, $border-base);
                    padding: 0 5px;
                    line-height: 22px;
                }
            }
        }


        li {
            > ul {
                display: none;

                li {
                    &:last-child {
                        a {
                            font-weight: 600;
                            color: $gray-darker;
                        }
                    }
                }
            }

            a, span {
                line-height: 40px;
                border-bottom: 1px solid $color-border;
                padding: 0 15px;
                display: block;
            }

            span {
                position: relative;

                &:after {
                    content: "\f105";
                    font-family: "Faprika";
                    font-size: 17px;
                    color: $color-primary;
                    position: absolute;
                    font-weight: 300;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                }
            }
        }

        > ul {
            overflow: auto;
            height: calc(100% - 50px);
        }

        &.open {
            transform: translateX(0%);
        }

        @include mq(md) {
            display: none;
        }
    }
}

